<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Profile</ion-title>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color=tertiary>
  <ion-img src="\assets\17004.png"></ion-img>
  <ion-item color=tertiary><ion-text color=secondary>Name: {{User.nome}}</ion-text></ion-item>
  <ion-item color=tertiary><ion-text color=secondary>Username: {{User.username}}</ion-text></ion-item>
  <ion-item color=tertiary><ion-text color=secondary>Email: {{User.email}}</ion-text></ion-item>
  <ion-item color=tertiary><ion-text color=secondary>Country: {{User.pais}}</ion-text></ion-item>
  <ion-item color=tertiary><ion-text color=secondary>Kilometers traveled: {{User.kmspercorridos}}km</ion-text></ion-item>
  <ion-item color=tertiary><ion-text color=secondary>Travel time: {{User.tempomedio}}h</ion-text></ion-item>

  
</ion-content>
<ion-footer>
  <ion-toolbar color = primary>
    <ion-grid>
        <ion-row>
          <ion-col size=7>
            <ion-item color = primary>
            Update your country here
            </ion-item>
          </ion-col>
          <ion-col size=3>
            <ion-item color=primary>
            <ion-input placeholder="Country" [(ngModel)]="User.pais"></ion-input>
          </ion-item>
          </ion-col>
          <ion-col size=2>
            <ion-button fill=clear (click)="updateUser()" ><ion-icon color=secondary  name="checkmark-circle"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>