<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-title>Chat</ion-title>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-list id="tamanhochat">
  <ion-list *ngFor="let mensagemR of mensagens">
    <ion-item *ngIf="(mensagemR.pais==pais)">
      <ion-label slot="end" color="primary" *ngIf="mensagemR.iduti==id">{{mensagemR.username}}<ion-item slot="end" color="primary">{{mensagemR.mensagem}}</ion-item></ion-label>
      <ion-label slot="start" color="secondary" *ngIf="mensagemR.iduti!=id">{{mensagemR.username}}<ion-item slot="start" color="secondary" >{{mensagemR.mensagem}}</ion-item></ion-label>
     
    </ion-item>
  </ion-list>
</ion-list>
  <ion-item id="tamanhoinput">
    <ion-input enterkeyhint="go" (keyup.enter)="submitmensagem(mensagemEnviar)" [(ngModel)]="mensagemEnviar" placeholder="Write Here" ></ion-input>
  </ion-item>
  
</ion-content>