<ion-content color=tertiary>
  <div id="container">
  <ion-card color = primary>
    <div>
      <ion-text><h1>Iniciar Sessão</h1></ion-text> 
    </div>
    <div class="primary">
      <ion-item color="primary">
        <ion-input  placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item color="primary">
        <ion-input  placeholder="Password"  type=password [(ngModel)]="password"></ion-input>
      
      </ion-item>
    </div>

    <ion-button (click)="SignIn(email,password)" expand="full" color=secondary ><ion-text color="light">Sign In</ion-text></ion-button>
    <ion-button href="registo" expand="full" color=secondary> <ion-text color="light" >Register</ion-text></ion-button>
  </ion-card>
</div>
</ion-content>