.bg{
    --background: url('/assets/bgtest.png');
    --background-repeat: no-repeat;
    --background-position: center;
    --background-attachment:auto; 
    --background-size: auto;
   }
   .aa{
       margin-top:  60%;
   }

   .bb{
    margin-top: 28%;
   }

   .centrar{
       margin-left:25%;
       margin-right:25%;
   }

   .centrardois{
    margin-left:30%;
    margin-right:25%;
}