.bg{
    --background: url('/assets/bgtest2.png');
    --background-repeat: no-repeat;
    --background-position: center;
    --background-attachment:auto; 
    --background-size: auto;
    
   }
   .aa{
       margin-top:  15%;
   }
   .bb{
    margin-top: 10%
   }
   .cc{
       margin-top: 3%
   }
   .dd{
       display:block;
       margin-left: 35%
   }