<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearch()" placeholder="Search for a place"  (ionClear)="ClearSearch()" show-cancel-button="always" animated ></ion-searchbar>
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearch(item)"> {{ item.description }} </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="false">
 <div #map id="map"></div>
  <ion-button  expand="full" (click)="showActions()">Options</ion-button>
</ion-content>
